<div class="container center-h center-v" >
    <div class="row" >
        <div class="col-md-4 mx-auto">
            <div class="card " >
                <div class="card-header" >
                    <h5 align="center">Enlace Development</h5>
                </div>
                <div class="card-body" >
                      <form action="/signin" method="POST">
                        <div class="form-group">
                           <button class="btn btn-success btn-block">
                                Sign In
                            </button>
                        </div>
                        </form>
                        <form action="/signup" method="POST">
                        <div class="form-group">
                            <button class="btn btn-success btn-block" >
                                Sign Up
                            </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
   </div>