<div class="container p-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="text-align:center">
                <div class="card-header">
                    <h3>Brindar Acceso</h3>
                </div>
                <div class="card-body" >
                     <form action="/listuser" method="POST">
                        <div class="form-group" style="text-align:center">
                           <input type="text" name="user" placeholder="Usuario" class="form-control" autofocus required/>
                        </div>
                            <div class="form-group" style="text-align:center">
                             <button class="btn btn-success btn-block">
                                Dar Acceso
                            </button>
                        </div>  
                    </form>
                    <form action="/user" method="POST">
                        <div class="form-group" style="text-align:center">
                             <button class="btn btn-success btn-block">
                                Retornar
                            </button>
                             </div>   
                    </form>
                </div>
            </div>
        </div>
    </div>
   </div>