<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Habilidades Empleado {{ID_Usuario}}</h3>
                </div>
                <div class="card-body">
                         <form action="/inserth" method="POST">
                          <div class="form-group" style="text-align:center">
                         <div class="form-group">
                            <h6>Habilidades del empleado</h6>
                             <select id="Habilidades" name="Habilidades" aria-placeholder="Habilidades" required>
                                {{#each lists}}
                                    <option value="{{ID_Habilidad}}">{{Nombre_habilidad}} - {{Nombre_tecnologia}} </option>
                                {{/each}}
                            </select> 
                            </div>  
                            </div>
                            <div class="form-group" style="text-align:center">
                             <button class="btn btn-success btn-block">
                                Agregar Habilidad
                            </button>
                        </div>  
                    </form>
                    </div> 
                     <div class="card-body">
                    <form action="/insertpe" method="POST">
                            <div class="form-group">
                            <h6>Seleccione Puesto: </h6>
                             <select id="NombrePuesto" name="NombrePuesto" class="block" aria-placeholder="Puesto">
                                    <option value="Jefe de Proyecto">Jefe de Proyecto</option>
                                    <option value="Gerente">Gerente</option>
                                    <option value="Lider de Equipo">Lider de Equipo</option>
                                    <option value="Desarrollador">Desarrollador</option>
                                    <option value="Diseñador Gráfico">Diseñador Gráfico</option>
                                     <option value="Líder de Calidad">Líder de Calidad</option>
                                     <option value="Líder de Documentación">Líder de Documentación</option>
                                    <option value="Documentador Técnico">Documentador Técnico</option>
                            </select>
                        </div>
                         <div class="form-group" style="text-align:center">
                            <button class="btn btn-success btn-block">
                                Registrar
                            </button>
                            </div>
                        </form>
                        </div> 
                    </div>    
                </div>
            </div>
        </div>